body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #aa72e9;
}

.container {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.grid div {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0.5rem;
}

.grid div.selected {
    background-color: #b0e57c;
}

.words {
    margin-top: 20px;
}

#words-list {
    list-style-type: none;
    padding: 0;
}
